<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep Visualization Toolbox</title>
    {% load static %}

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}" media="screen,projection">
    <link type="text/css" rel="stylesheet" href='{% static "style.css" %}' media="screen,projection">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>
<!-- Setting Section -->
<script>console.log({{ layer_info }})</script>
<div class="row">
    <ul id="slide-out" class="sidenav col s2">
        <li><a href="#!"><i class="material-icons">ac_unit</i>Freeze camera image</a></li>
        <li><a href="#!"><i class="material-icons">camera</i>Camera image</a></li>
        <li><a href="#!"><i class="material-icons">crop</i>Crop Image</a></li>
        <li><a href="#!"><i class="material-icons">image</i>Preferred Input</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="switch">
            <label>
                forward
                <input type="checkbox">
                <span class="lever"></span>
                backward
            </label>
        </li>
    </ul>
</div>
<a href="#" data-target="slide-out" class="sidenav-trigger" style="position: absolute;right: 10px">
    <i class="material-icons" style="color: #616161">settings</i>
</a>
<!-- # -->
<div class="row">
    <div class="col s3  ">
        <div class="center-align" id="input_frame">
            <canvas id="input_canvas" class="responsive-canvas">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
        </div>
        <div>
            <ul class="collapsible expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">label</i>Label predictions</div>
                    <div class="collapsible-body" id="prob_label">
                        {% for p in prob_label %}
                            {% if p.1 %}
                                <span class="green-text text-darken-4">{{ p.0 }}</span>
                                <br>
                            {% else %}
                                <span>{{ p.0 }}</span>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_none</i>Selected channel</div>
                    <div class="collapsible-body">
                        <span>
                            <canvas id="selected_channel_canvas" style="width: 100%"></canvas>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" id="bprob_dconv"><i class="material-icons">arrow_back_io</i>Bprob/deconv
                        selected
                        channel
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <canvas id="back_canvas" style="width: 100%;"></canvas>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s6">
        <ul class="tabs" id="layers">
            {% for tab in net_layer_info %}
                {% if forloop.counter == 1 %}
                    <li class="tab"><a class="active" href="#{{ tab }}" name="{{ tab }}_1">{{ tab }}</a></li>
                {% else %}
                    <li class="tab"><a href="#{{ tab }}" name="{{ tab }}_{{ forloop.counter }}">{{ tab }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% for tab in net_layer_info %}
            <div id="{{ tab }}" class="col s12">
            </div>
        {% endfor %}
    </div>
    <div class="col s3">
        <div class="center-align">
            <h5>Gradient ascent</h5>
            <img id="regularized" src="" style="width: 100%" class="responsive-img">
        </div>
        <div class="center-align">
            <h5>Top 9 image</h5>
            <img id="top_img" src="" style="width: 100%" class="responsive-img">
        </div>
        <div class="center-align">
            <h5>Deconv of top 9</h5>
            <img id="max_deconv" src="" class="responsive-img" style="width: 100%">
        </div>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="{% static 'materialize.min.js' %}"></script>
<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous" type="text/javascript"></script>
<script src="{% static 'caffevis.js' %}"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        // materialize init
        let collapsible_elems = document.querySelectorAll('.collapsible');
        let collapsible_options = {accordion: false};
        let collapsible_instances = M.Collapsible.init(collapsible_elems, collapsible_options);
        let sidenav_elems = document.querySelectorAll('.sidenav');
        let sidenav_option = {};
        let sidenav_instances = M.Sidenav.init(sidenav_elems, sidenav_option);
        let tabs_elems = document.querySelectorAll('.tabs');
        let tabs_options = {}
        let tabs_instances = M.Tabs.init(tabs_elems, tabs_options);


        // caffevis init
        {#console.log("caffevis init");   #}
        {#let get_input_frame = $.ajax({url: "{% url "caffevis_API:input_frame" %}", method: "GET"});#}
        {#get_input_frame.done(updateInputFrame);#}
        {#let get_layer_data = $.ajax({url: "{% url "caffevis_API:layer_data" %}", method: "GET"});#}
        {#get_layer_data.done(updateLayerData);#}
    });


    {#let get_prob_label = $.ajax({url: "{% url "caffevis_API:prob_layer" %}", method: "GET"});#}
    {#get_prob_label.done(update_prob_label);#}
</script>
</body>
</html>